  .centerText {
    text-align: center;
  }

  .alignEnd {
    text-align: end;
  }

  .cancelShare {
    --background: #e5ae6b;
    font-size: 12pt;
    --padding-end: 4px;
    --padding-start: 4px;
  }

  ion-input {
    background-color: #dde2e0;
}



